.card-image {
  height: 200px;
  width: 255px;
  margin-right: 20px;
}
.card-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-right: 60px;
  margin-bottom: 30px;
}
.button-card {
  border: 2px solid #ffa412;
  color: #ffa412;
  background-color: transparent;
}
.card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  width: 120px;
}
.but-alighn-card {
  display: flex;
  align-items: center;
}
.but-plus-minus {
  background-color: transparent;
  border: 0px;
}
